@font-face {
    font-family: 'Gotham Book';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Book'), url('../../assets/font/GothamBook.woff') format('woff');
    }
*{
    font-family: 'Gotham Book', Arial, sans-serif; 
}
// header
.img-logo{
    width: 120px; 
    height: 70px; 
    margin: 0 auto;
}
.title-content {
    text-align: center;
    margin-bottom: 85px;
}
.span-tiny-font {
    font-size: 16px;
}
.hr-black{
    border-bottom: 1px solid black;
    margin-left: 11px;
    width: 300px;
}

.hr-blue{
    border-bottom: 1px solid blue;
    width: 50%;
 }
 ion-searchbar{
     width: 15%;
 }

.display-flex
 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;

}


 //cards
.display-grid{
 
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(388px, 1fr));
    grid-column-gap: 30px;
    text-align: center;

}
.display-grid ion-card-content {
    text-align: justify;
}

